
.ancestor{
  /*background-color: orange;*/
  line-height: 500%;
  font-family: 'Comic Sans MS'; 
  font-size: 12px;
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  /*font-size: 12px;*/
}